node_modules
*.log
*.bak
*.launch
mxproject
coverage
GPUCache
deployment
javasource
javascriptsource
nativemobile
vendorlib
themesource/datawidgets/
themesource/feedbackmodule/
themesource/nanoflowcommons/
themesource/administration/
themesource/webactions/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/CalendarProject.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
/nativemobile/builds/
.DS_Store
/.svn/