/* Error: Can't find stylesheet to import.
 *     ,
 * 219 | @import "core/widgets/scroll-container-react";
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   C:\Users\leonardo.de.souza\Mendix\testProjects-gallery-web_2\themesource\atlas_core\web\main.scss 219:9  @use
 *   C:\Users\leonardo.de.souza\Mendix\testProjects-gallery-web_2\deployment\sass\main.scss 6:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a     ,\a 219 | @import \"core/widgets/scroll-container-react\";\a     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     '\a   C:\\Users\\leonardo.de.souza\\Mendix\\testProjects-gallery-web_2\\themesource\\atlas_core\\web\\main.scss 219:9  @use\a   C:\\Users\\leonardo.de.souza\\Mendix\\testProjects-gallery-web_2\\deployment\\sass\\main.scss 6:1               root stylesheet";
}
