@import "custom-variables";

.widget-gallery-hover {
	.widget-gallery-items {
		.widget-gallery-item {
			&.aquamarine-background {
				background-color: #35EAD4 !important;

				&:hover {
					background-color: #2fd2be;
				}
			}
			&.red-background {
				background-color: #dd5353;

				&:hover {
					background-color: #DA4040;
				}
			}
		}
	}
}